// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  color: blue;
  height: 20px;
  padding: 5 5 5 5;
  width: 120px;
  text-align: center;
}
